*{
  margin:0px;
  padding: 0px;
}

.containerNav{
background-color: rgb(9, 39, 211);
padding: 0;




}
 .navbar{



padding-left: 25px !important;
padding-right: 25px!important;
background-color: rgb(6, 66, 122);


}
.navLi{
  display: inline-flex;
  flex-direction: row;
  font-size: 25px;
  color:cornsilk
}  
