

* {
  margin: 0;
  padding: 0;
}
nav img {
  max-height: 40px;
  padding: 5px;
  /* margin: 5px 20px 5px 0; */
  display: inline-block;
  vertical-align: middle;
}

nav h2 {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

nav a {
  color: black;
  display: inline-block;
  padding: 20px;
  font-size: 1.2em;
  text-decoration: none;
}

nav a:hover {

}