

.top{
  background-color: rgb(3, 3, 3);
  /* margin-top: 330px; */
}

.gtrDiv{
  border: black;
 border-style: ridge;
  margin: 10px;
  background-color: lightgreen;
  padding: 5px;
  box-shadow: 10px 4px 8px 0 rgba(0,0,000,0.2);
  transition: 0.2s;
  width: 23%;
}

.gtrDiv:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,122,0.2);
}

main{
  background-color: ;
}

.showing{
  background-color: black;
}

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  .gtrDiv{
    border: black;
   border-style: ridge;
   
    background-color: rgb(60, 61, 114);
    
    box-shadow: 10px 4px 8px 0 rgba(0,0,000,0.2);
    transition: 0.2s;
    width: 233%;
  }



}
