.jumbotron{
box-sizing: border-box;
background-color: black;
background-image: url(https://i.imgur.com/5Cap1sj.png);
background-repeat: no-repeat, repeat;
background-position: center;
background-size:cover;

padding-top: 100px;
padding-bottom: 25px;
font-weight: bold;
margin-bottom: 1px;
/* border-radius: 50px; */
box-shadow: 10px 10px 5px 0 px rgba(0,0,0,0.75);
height: 420px;
width: 100%;
display: flex;
padding: 0px !important;
}

.containerJumbo{
  display: flex;
  background-color: rgb(219, 21, 21);
  margin: 0 auto;
  margin: 0px !important;
 padding: 0;


}

